<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style.css">
    <title>RaquetBall</title>
</head>
<body onload="draw()">
    <canvas id="Scene" width="320" height="460"></canvas>
    <h2 id="Score">Tu Record es: </h2>
    <audio id="back" src="../audios/back.wav" autoplay loop></audio>
    <audio id="clack" src="../audios/Clack.wav" hidden></audio>
    <audio id="gameover" src="../audios/gameover.wav" hidden></audio>
    <script src="../js/index.js"></script>
</body>
</html>